*
::before,
::after {
  box-sizing: border-box;
}
input {
  cursor: pointer;
  &:hover {
    background: #BDBDBD;
  }
}
.fs-18 {
  font-size: 18px;
}
.fs-36 {
  font-size: 36px;
}
.footer-ico-color {
  color: #BDBDBD;
}
.footer-ico-size {
  font-size: 20px;
  margin-left: 25px;
}
.footer-ico-padding {
  padding-left: 12px;
}
