.footnote-container {
	padding-top: 25px;
	padding-bottom: 25px;
	color: $gray-text;
	@include media-breakpoint-down(xs) {
    display: none;
	}
}
.questions-text  {
	font-size: 10px;
}
	.loyatly-text {
		font-size: 10px;
		@include media-breakpoint-down(sm) {
			font-size: 7px;
			padding-top: 5px;
		}
		@include media-breakpoint-down(lg) {
			padding-left: 0px;
		}
	}
	.btp-text {
		font-size: 10px;
		@include media-breakpoint-down(sm) {
			font-size: 7px;
			padding-top: 5px;
		}
}
	
.call-text {
	padding-left: 10px;
}
.btp-container {
	padding-left: 65px;
	position: relative;
}
.ico-box {
	position: absolute;
	display: inline-block;
  top: -4px;
  left: 30px;
	font-size: 16px;
	@include media-breakpoint-down(sm) {
		top: 1px;
		left: 40px;
		font-size: 12px;
	}
}
.loyatly-container {
	position: relative;
	padding-left: 65px;
}
.ico-star {
  font-size: 16px;
	position: absolute;
	display: inline-block;
	top: -4px;
	left: 35px;
	@include media-breakpoint-down(sm) {
		top: 2px;
		left: 40px;
		font-size: 12px;
	}
}
