.hero-section__main-footnote {
	font-size: 10px;
	padding-top: 18px;
}
.ico-star-gold {
	font-size: 6px;
	color: #F2994A;
}
.hero-section__h1__block {
	display: flex;
	align-items: center;
	@include media-breakpoint-down(xs) {
		flex-direction: column;
	}
}
.hero-section__h1 {
	font-size: 24px;
	@include media-breakpoint-down(xs) {
		font-size: 20px;
	}
}
.hero-section__button-flash-offer {
	font-size: 10px;
	color: $white-text;
	background: $primary-color;
	border-radius: 3px;
	padding: 5px 10px 5px 10px;
	margin-top: 8px;
	margin-left: 15px;
	margin-bottom: 15px;
	@include media-breakpoint-down(xs) {
		padding: 5px 10px 5px 10px;
	}
	&:hover {
    background: green;
  }
}
.hero-section__h1__text-under {
	font-size: 12px;
	color: $gray-text;
	line-height: 0%;
	@include media-breakpoint-down(xs) {
		display: none;
	}
}
.hero-section__h1__block__flex {
	display: flex;
	justify-content: space-between;
}
.hero-section__h1__button-rattings {
	font-size: 8px;
	color: $white-text;
	background: $primary-color;
	border-radius: 4px;
		@include media-breakpoint-down(md) {
			margin-right: 30px;
		}
}
.button-rattings__4 {
	font-size: 10px
}
.hero-section__img-container-hotel-hilton {
	display: inline-flex;
	position: relative;
	border-radius: 8px;
}
.hero-section__img-container-hotel-hilton::after {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 8px;
	background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}
.hero-section__price-map-container {
	height: 100%;
	@include media-breakpoint-down(md) {
		display: flex;
		justify-content: space-around;
		text-align: center;
	}
	@include media-breakpoint-down(xs) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	.hero-section__price-booking {
		background-color: $secondary-color;
		color: $white-text;
		border-radius: 8px;
		font-family:  $secondary-font;
		@include media-breakpoint-down(lg) {
			margin-right: 0px;
		}
		@include media-breakpoint-down(md) {
			margin-top: 20px;
			width: 320px;
		}
	}
	.hero-section__price-booking-flex {
		display: flex;
		justify-content: space-around;
		padding-top: 30px;
		@include media-breakpoint-down(md) {
			justify-content: space-between;
			padding-left: 10px;
			padding-right: 10px;
			margin-left: 0;
		}
		@include media-breakpoint-down(sm) {
			justify-content: space-between;
			padding-left: 0%;
		}
	}
	.hero-section__price-starts-text {
		font-size: 10px;
		@include media-breakpoint-down(lg) {
			font-size: 8px;
		}
		@include media-breakpoint-down(md) {
			font-size: 10px;
			padding-right: 15px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 8px;
			padding-right: 15px;
		}
		@include media-breakpoint-down(xs) {
			font-size: 10px;
			padding-left: 15px;
		}
	}
	.hero-section__price-8500 {
		font-size: 24px;
		line-height: 0%;
		@include media-breakpoint-down(lg) {
			font-size: 20px;
		}
		@include media-breakpoint-down(md) {
			font-size: 24px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 20px;
			padding-top: 0;
		}
		@include media-breakpoint-down(xs) {
			font-size: 24px;
			padding-left: 15px;
			line-height: 10%;
		}
	}
	.hero-section__per-room-text {
		font-size: 12px;
		line-height: 1.1;
		@include media-breakpoint-down(lg) {
			font-size: 10px;
		}
		@include media-breakpoint-down(md) {
			font-size: 12px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 10px;
			line-height: 10%;
		}
		@include media-breakpoint-down(xs) {
			font-size: 12px;
			line-height: 0.8;
			padding-left: 15px;
		}
	}
	.hero-section__quick-booking-text {
		font-size: 18px;
		@include media-breakpoint-down(lg) {
			font-size: 12px;
		}
		@include media-breakpoint-down(md) {
			font-size: 16px;
			padding-left: 20px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 14px;
			padding-left: 25px;
			padding-top: 10px;
		}
		@include media-breakpoint-down(xs) {
			font-size: 18px;
			padding-left: 50px;
			padding-top: 0;
		}
	}
	.user-ico-text-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.hero-section__guests-text {
		font-size: 12px;
	}
	.hero-section__ico-user {
		font-size: 13px;
		padding-right: 15px;
	}
	.ico-home-text-container {
		padding-top: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.hero-section__room-selection-text {
		font-size: 12px;
	}
	.hero-section__ico-home {
		font-size: 13px;
		padding-right: 15px;
	}
	.ico-call-text-container {
		padding-top: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.hero-section__call-12100-text {
		font-size: 18px;
	}	
	.hero-section__ico-call {
		font-size: 15px;
		padding-right: 15px;
	}
	.hero-section__price-booking__button {
		background: $primary-color;
		border-radius: 8px;
		color: $white-text;
		padding: 13px 65px;
		font-size: 14px;
		margin-left: 45px;
		margin-bottom: 25px;
		@include media-breakpoint-down(lg) {
			padding: 13px 30px;
			font-size: 10px;
			margin-left: 15px;
			margin-bottom: 15px;
		}
		@include media-breakpoint-down(md) {
			padding: 13px 80px;
			font-size: 14px;
			margin-bottom: 20px;
		}
		@include media-breakpoint-down(sm) {
			padding: 13px 50px;
			font-size: 10px;
			margin-bottom: 20px;
		}
		@include media-breakpoint-down(xs) {
			padding: 13px 60px;
			font-size: 14px;
			margin-bottom: 20px;
		}
		&:hover {
			background: green;
		}
	}
	
	.hero-section__map-address {
		border: none;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		margin-top: 20px;
		@include media-breakpoint-down (md) {
			width: 90%;
			height: 100%;
		}
		@include media-breakpoint-down (xs) {
			width: 100%;
			height: 100%;
	}
}
	